PORT=5000
MONGODB_URI=mongodb://admin:admin@ac-xgsjodh-shard-00-00.s6xaqvz.mongodb.net:27017,ac-xgsjodh-shard-00-01.s6xaqvz.mongodb.net:27017,ac-xgsjodh-shard-00-02.s6xaqvz.mongodb.net:27017/?ssl=true&replicaSet=atlas-127fd0-shard-0&authSource=admin&appName=Cluster0
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
